* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Avenir book";
  src: url("../../assets/fonts/avenir/AvenirLTStd-Book.otf") format("opentype");
}

.inscription {
  height: 80vh;
  width: 60vw;
  background-color: #0088ce;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Avenir book";
  color: white;
  margin-left: auto;
  margin-right: auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#firstName,
#lastName,
#email,
#alias,
#name,
#mdp,
#confMdp,
button {
  display: flex;
  flex-direction: column;
  width: 140px;
  height: 25px;
  margin: 5px;
  border-radius: 5px;
  border: none;
}

button {
  background-color: #0088ce;
  border: solid 2px white;
  border-radius: 5px;
  color: white;
  padding: 3px 5px 5px 45px;
}

@media screen and (min-width: 768px) {
  #firstName,
  #lastName,
  #email,
  #alias,
  #name,
  #mdp,
  #confMdp,
  button {
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 35px;
  }

  button {
    padding: 7px 5px 5px 60px;
  }

  .inscription {
    height: 90vh;
    width: 40vw;
    margin-left: 40px;
  }
}

@media screen and (min-width: 1024px) {
  #firstName,
  #lastName,
  #email,
  #alias,
  #name,
  #mdp,
  #confMdp,
  button {
    display: flex;
    flex-direction: column;
    width: 210px;
    height: 35px;
  }

  .inscription {
    height: 75vh;
    width: 45vw;
    margin-left: auto;
  }

  button {
    padding: 8px 5px 5px 65px;
  }
}
