.inscription {
  min-height: 65vh;
  width: 80vw;
  background-color: #0088ce;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8vh;
  margin-top: 2vh;
}
#mdp,
#confMdp {
  position: relative;
  z-index: 0;
}
.eye {
  position: absolute;
  height: 3vh;
  margin-top: -33px;
  margin-left: 72px;
}

.imgcovoit-profile {
  display: none;
}

.input-inscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding-top: 2vh;
  font-size: 17px;
}

.message-input {
  color: red;
  font-size: 15px;
  font-weight: bold;
}

#firstName,
#lastName,
#name,
#mdp,
#confMdp,
#email {
  display: flex;
  flex-direction: column;
  height: 5vh;
  width: 55vw;
  border-radius: 5px;
  border: none;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.btnUpdate {
  margin-left: 33vw;
  margin-top: 3vh;
  font-size: 17px;
  border: none;
  background-color: #0088ce;
  color: white;
  margin-right: -20vw;
}
.btnDelete {
  margin-left: 33vw;
  margin-top: 3vh;
  font-size: 17px;
  border: none;
  background-color: #0088ce;
  color: white;
  margin-right: 34vw;
}

@media screen and (min-width: 768px) {
  .imgcovoit-profile {
    display: none;
  }

  .inscription {
    min-height: 65vh;
    width: 70vw;
    margin-top: 5vh;
  }

  #firstName,
  #lastName,
  #name,
  #mdp,
  #confMdp,
  #email {
    height: 5vh;
    width: 43vw;
  }

  .eye {
    margin-top: -48px;
    margin-left: 123px;
  }

  .input-inscription {
    font-size: 25px;
  }
  .btnUpdate {
    font-size: 23px;
  }

  .btnDelete {
    font-size: 23px;
  }
}

@media screen and (min-width: 1024px) {
  .container-profile {
    display: flex;
    flex-direction: row-reverse;
  }

  .imgcovoit-profile {
    height: 81vh;
    width: 59vw;
    display: block;
    margin-top: 3vh;
    border-radius: 20px;
    margin-right: 2vw;
  }

  .inscription {
    min-height: 65vh;
    width: 35vw;
    margin-top: 3vh;
  }
  #firstName,
  #lastName,
  #name,
  #mdp,
  #confMdp,
  #email {
    height: 5vh;
    width: 25vw;
  }

  .eye {
    margin-top: -36px;
    margin-left: 96px;
  }
  .btn {
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 10vw;
  }
  .btnDelete {
    margin-left: 32vw;
  }
}

@media screen and (min-width: 1440px) {
  .imgcovoit-profile {
    display: none;
  }

  .text {
    min-height: 65vh;
    width: 35vw;
    margin-top: 3vh;
  }

  .input-inscription {
    font-size: 30px;
  }
  .message-input {
    font-size: 25px;
  }
  .container-profile {
    background-image: url("../../assets/covoit1.jpg");
    background-size: cover;
  }
  .inscription {
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: 33vw;
  }
  .eye {
    margin-top: -70px;
    margin-left: 113px;
  }
  .btn {
    font-size: 30px;
  }
}

@media screen and (min-width: 1920px) {
  .eye {
    margin-top: -55px;
    margin-left: 180px;
  }
}
