.container-profile {
  min-height: 70vh;
}

.update {
  min-height: 68vh;
  width: 80vw;
  background-color: #0088ce;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}
#mdp,
#confMdp {
  position: relative;
  z-index: 0;
}
.eye {
  position: absolute;
  height: 3vh;
  margin-top: -33px;
  margin-left: 72px;
}

.imgcovoit-profile {
  display: none;
}

.input-update {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding-top: 2vh;
  font-size: 17px;
}

.message-input {
  color: red;
  font-size: 15px;
  font-weight: bold;
}

#firstName,
#lastName,
#name,
#mdp,
#confMdp,
#email {
  display: flex;
  flex-direction: column;
  height: 5vh;
  width: 55vw;
  border-radius: 5px;
  border: none;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.upd-del {
  display: flex;
}
.btnUpdate {
  font-size: 17px;
  border: none;
  background-color: #0088ce;
  color: white;
}
.btnDelete {
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-size: 17px;
  border: none;
  background-color: #0088ce;
  color: white;
}
.span-mdp-diff {
  color: red;
  font-weight: bold;
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .imgcovoit-profile {
    display: none;
  }

  .update {
    height: 70vh;
    width: 70vw;
  }

  #firstName,
  #lastName,
  #name,
  #mdp,
  #confMdp,
  #email {
    height: 5vh;
    width: 43vw;
  }

  .eye {
    margin-top: -60px;
    margin-left: 123px;
  }

  .input-update {
    font-size: 25px;
    padding-top: 1vh;
  }

  .btnUpdate {
    font-size: 23px;
  }

  .btnDelete {
    font-size: 23px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  .container-profile {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .imgcovoit-profile {
    width: 55vw;
    height: 60vh;
    display: block;
    border-radius: 20px;
    margin-right: 2vw;
  }

  .update {
    height: 80vh;
    width: 35vw;
  }
  #firstName,
  #lastName,
  #name,
  #mdp,
  #confMdp,
  #email {
    height: 5vh;
    width: 25vw;
  }

  .eye {
    margin-top: -47px;
    margin-left: 96px;
  }

  .btnDelete {
    margin-left: 8vw;
  }
}

@media screen and (min-width: 1440px) {
  .imgcovoit-profile {
    display: none;
  }

  .input-update {
    font-size: 30px;
  }
  .message-input {
    font-size: 25px;
  }
  .container-profile {
    background-image: url("../../assets/covoit1.jpg");
    background-size: cover;
  }
  .update {
    margin-top: 3vh;
    margin-bottom: 3vh;
    height: 73vh;
  }
  .eye {
    margin-top: -63px;
    margin-left: 125px;
  }

  .btnDelete {
    margin-left: 11vw;
  }
}

@media screen and (min-width: 1920px) {
  .eye {
    margin-top: -55px;
    margin-left: 180px;
  }
}
