.navbar {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  display: flex;
  list-style-type: none;
  margin-right: 15px;
}

.logoSncf {
  height: 65px;
}

.accueil {
  margin-right: 15px;
}
