.navbar {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  display: flex;
  list-style-type: none;
  margin-right: 15px;
}

.link-navbar {
  color: #0088ce;
  font-weight: bold;
  font-size: 1rem;
}

.logoSncf {
  height: 8vh;
}

.accueil {
  margin-right: 15px;
}

@media screen and (min-width: 768px) {
  .link-navbar {
    font-size: 1.5rem;
  }

  @media screen and (min-width: 1024px) {
    .logoSncf {
      height: 9vh;
    }
  }
}
