@font-face {
    font-family: "Avenir light";
    src: url("../../assets/fonts/avenir/AvenirLTStd-Light.otf") format("opentype");
}


.confirmation {
    background-color: #0088ce;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 60vh;
    margin: 5%;
}

p {
    font-family: "Avenir light";
    color: white;
    font-weight: 700;
    font-size: 3vh;
    padding: 1vh;
}