* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Avenir light";
  src: url("../../assets/fonts/avenir/AvenirLTStd-Light.otf") format("opentype");
}
.logo {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25vw;
}
h3 {
  display: none;
  font-family: "Avenir light";
}

@media screen and (min-width: 1024px) {
  .logo {
    width: 15vw;
  }
  h3 {
    display: flex;
    position: absolute;
    bottom: 10%;
    left: 40%;
    text-align: center;
  }
}
