.resetPassword {
  height: 38vh;
  width: 80vw;
  background-color: #0088ce;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
  margin-bottom: 32vh;
}

.ResetPassword {
  min-height: 70vh;
}
.input-mdp-reset {
  width: 33vw;
  margin-left: 4vw;
  height: 3vh;
}

.btn-resete {
  font-size: 17px;
  border: none;
  background-color: #0088ce;
  color: white;
  margin-left: 50vw;
  margin-top: 2vh;
}

.label-reset {
  margin-right: 2px;
}

.label-conf {
  margin-top: 2vh;
}

@media screen and (min-width: 768px) {
  .resetPassword,
  .btn-resete {
    font-size: 2rem;
  }

  .input-mdp-reset {
    height: 3vh;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .input-mdp-reset {
    height: 4vh;
  }
}
