.inscription {
  min-height: 70vh;
  width: 80vw;
  background-color: #0088ce;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}

.imgcovoit-inscription {
  display: none;
}

.input-inscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding-top: 2vh;
  font-size: 17px;
}

.mdp-input {
  text-align: center;
}

.message-input {
  color: red;
  font-size: 15px;
  font-weight: bold;
}

#firstName,
#lastName,
#name,
#mdp,
#confMdp,
#email {
  display: flex;
  flex-direction: column;
  height: 5vh;
  width: 55vw;
  border-radius: 5px;
  border: none;
  margin-top: 1vh;
}

.button-inscription {
  margin-left: 50vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-size: 17px;
  border: none;
  background-color: #0088ce;
  color: white;
}

@media screen and (min-width: 768px) {
  .imgcovoit-inscription {
    display: none;
  }

  .inscription {
    width: 70vw;
  }

  #firstName,
  #lastName,
  #name,
  #mdp,
  #confMdp,
  #email {
    height: 5vh;
    width: 43vw;
    font-size: 1.5rem;
  }
  .input-inscription {
    font-size: 25px;
  }

  .button-inscription {
    font-size: 25px;
    margin-top: -7px;
    margin-left: 41vw;
  }
}

@media screen and (min-width: 1024px) {
  .container-inscription {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .imgcovoit-inscription {
    width: 55vw;
    height: 60vh;
    display: block;
    border-radius: 20px;
    margin-right: 2vw;
  }

  .inscription {
    min-height: 80vh;
    width: 35vw;
  }
  #firstName,
  #lastName,
  #name,
  #mdp,
  #confMdp,
  #email {
    height: 5vh;
    width: 25vw;
    margin-bottom: 0;
  }
  .button-inscription {
    font-size: 25px;
    margin-right: 17vw;
    margin-top: 0;
  }
}

@media screen and (min-width: 1440px) {
  .imgcovoit-inscription {
    display: none;
  }

  .input-inscription {
    font-size: 30px;
  }
  .message-input {
    font-size: 25px;
  }
  .container-inscription {
    background-image: url("../../assets/covoit1.jpg");
    background-size: cover;
    background-position: center;
  }
  .inscription {
    margin-top: 3vh;
    margin-bottom: 3vh;
    min-height: 74vh;
  }

  .button-inscription {
    font-size: 30px;
  }
}
