.propo-choise {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: red;
  justify-content: space-between;
}

.imgcovoit-trips {
  display: none;
}

.sncf-trips {
  display: none;
}
.alias {
  display: block;
  color: white;
  margin-bottom: 6vh;
}

.propo-search {
  color: white;
  margin-bottom: 2vh;
}

.gare-select {
  display: flex;
  align-items: center;
  margin-bottom: 4vh;
}
.text {
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  width: 80vw;
  background-color: #0088ce;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: space-around;
}

#dep {
  height: 4vh;
  width: 33vw;
  margin-left: 5px;
}
.label-select {
  margin-right: 1vw;
}

.input-choise {
  height: 3vh;
  display: flex;
  margin-left: 21vw;
  margin-top: -3vh;
  margin-bottom: 4vh;
}

.dateTime {
  display: flex;
  align-items: center;
  margin-bottom: 2vh;
}

.label-date {
  margin-right: 3vw;
}

#dated {
  margin-right: 4vw;
  margin-left: 1vw;
  height: 3vh;
}

#time {
  margin-left: 1vw;
}

#message {
  display: flex;
  flex-direction: column;
  height: 12vh;
  width: 65vw;
}

.btn-choise {
  background-color: #0088ce;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 21px;
  margin-top: 2vh;
  margin-left: 50vw;
}
@media screen and (min-width: 768px) {
  #dep {
    font-size: 1.4rem;
    width: 22vw;
  }
  .sncf-trips {
    display: none;
  }

  .link {
    font-size: 3vw;
    margin-right: 8vw;
    margin-top: 4vh;
  }

  .imgcovoit-trips {
    display: none;
  }

  .text {
    font-size: 1.75rem;
  }

  #message {
    height: 10vh;
    width: 49vw;
    font-size: 1.4rem;
  }

  .input-choise {
    
    width: 31vw;
    height: 4vh;
    margin-left: 18vw;
    font-size: 1.4rem;
  }
  #dated {
    width: 19vw;
    height: 4vh;
    margin-right: 2vw;
    margin-left: 0;
    font-size: 1.4rem;
  }
  #time {
    width: 15vw;
    height: 4vh;
    font-size: 1.4rem;
  }
  .label-date {
    margin-right: 3vw;
  }
  .btn-choise {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .link {
    font-size: 2vw;
  }
  .container-trips {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 68vh;
  }

  .imgcovoit-trips {
    display: block;
    height: 60vh;
    width: 55vw;
    border-radius: 20px;
    margin-right: 2vw;
  }

  .text {
    min-height: 71vh;
    width: 39vw;
    margin-right: 2vw;
    font-size: 1.4rem;
  }

  #dep {
    height: 5vh;
    width: 14vw;
  }

  .input-choise {
    width: 15vw;
    margin-left: 15vw;
  }

  .label-date {
    margin-right: 1vw;
  }
  #dated {
    width: 13vw;
  }

  #time {
    width: 7vw;
  }

  #message {
    width: 30vw;
  }
}

@media screen and (min-width: 1440px) {
  .covoit-trips {
    display: none;
  }
  .container-trips {
    background-image: url(../../assets/covoit1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 0px;
    margin-left: 0px;
    font-size: 2rem;
    height: 70vh;
  }

  .text {
    min-height: 62vh;
    width: 62vw;
    margin-right: 17vw;
    font-size: 2.2rem;
  }
  .alias {
    margin-bottom: 0;
  }
  .label-date {
    margin-right: 4vw;
  }

  #dep {
    height: 4vh;
  }
  .input-choise {
    width: 17vw;
    height: 4vh;
    margin-left: 15vw;
  }
  #dated {
    height: 4vh;
    width: 12vw;
  }
  #time {
    width: 7vw;
    margin-right: 0vw;
    height: 4vh;
  }

  #message {
    height: 8vh;
    width: 32vw;
  }
}
