.background {
  display: flex;
  height: 15vh;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 100px;
  width: 100px;
  margin-right: 1vw;
}

.disconnect {
  border: none;
  background-color: white;
  margin-left: 20px;
}

.disconnect-link {
  color: red;
  font-weight: bold;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .logo {
    height: 150px;
    width: 150px;
  }
  .disconnect-link {
    font-size: 1.5rem;
  }
}
