* {
  margin: 0;
  padding: 0;
}

/* @font-face {
    font-family: "Avenir book";
    src: url("../../assets/fonts/avenir/AvenirLTStd-Book.otf") format("opentype");
  } */

.propositions {
  height: 90vh;
  width: 70vw;
  background-color: #d2e100;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: "Avenir book";
  color: white;
  margin-left: auto;
  margin-right: auto;
}

button {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 5vh;
  margin: 5px;
  background-color: #d2e100;
  border: solid 2px white;
  border-radius: 5px;
  color: white;
  padding: 3px 0px 5px 35px;
}

#arr1,
#arr2,
#arr3,
#message,
#dep,
#dated,
#time {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 5vh;
  margin: 5px;
  border-radius: 5px;
  border: none;
}

#message {
  height: 10vh;
}

@media screen and (min-width: 768px) {
  .proposition {
    height: 90vh;
    width: 35vw;
    margin-left: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .proposition {
    height: 90vh;
    width: 35vw;
    margin-left: auto;
    font-size: 20px;
  }

  button {
    padding: 8px 0px 5px 125px;
  }
}
